#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=/opt/qt-clones/kinetic/declarative/bin/linguist
Name=Qt Kinetic Declarative Clone - Linguist
GenericName=Translation Tool
MimeType=application/x-linguist
Terminal=false
Type=Application
Icon=/opt/qt-clones/kinetic/declarative/share/pixmaps/linguist.png
Categories=Qt;Development;Translation
