#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=/opt/qt-unstable/bin/linguist
Name=Qt Linguist
GenericName=Translation Tool
MimeType=application/x-linguist
Terminal=false
Type=Application
Icon=/opt/qt-unstable/share/pixmaps/linguist.png
Categories=Qt;Development;Translation
