#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Qt 4.6 Stable - Config
Comment=Configure Qt behavior, styles, fonts
Exec=/usr/bin/qtconfig
Icon=/usr/share/pixmaps/qtlogo
Terminal=false
Type=Application
Categories=Qt;Settings;
