#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=/opt/qt-experimental/kinetic/bin/designer
Name=Qt Designer Kinetic
GenericName=Interface Designer Kinetic
MimeType=application/x-designer
Icon=/opt/qt-experimental/kinetic/share/pixmaps/designer.png
Terminal=false
Type=Application
Categories=Qt;Development;GUIDesigner
