#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=/opt/qt-master-stable/bin/linguist
Name=Qt Master Stable - Linguist
GenericName=Translation Tool
MimeType=application/x-linguist
Terminal=false
Type=Application
Icon=/opt/qt-master-stable/share/pixmaps/linguist.png
Categories=Qt;Development;Translation
