#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=/usr/bin/assistant
Name=Qt Assistant Kinetic
GenericName=Qt Document Browser Kinetic
Icon=/usr/share/pixmaps/assistant.png
Terminal=false
Type=Application
Categories=Qt;Development;Documentation
