#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Qt Config Kinetic
Comment=Configure Qt behavior, styles, fonts
Exec=/usr/bin/qtconfig
Icon=/usr/share/pixmaps/qtlogo.png
Terminal=false
Type=Application
Categories=Qt;Settings;
