#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=/opt/qt-master-stable/bin/assistant
Name=Qt Master Stable - Assistant
GenericName=Qt Document Browser
Icon=/opt/qt-master-stable/share/pixmaps/assistant.png
Terminal=false
Type=Application
Categories=Qt;Development;Documentation
